
ul.appmenu {
	display: none;
	}

ul.appmenu li {
	display: none;
	}

ul.appmenu ul {
	display: none;
	}

ul.appmenu ul:after /*From IE 7 lack of compliance*/{
	display: none;
	}

ul.appmenu ul li {
	display: none;
	}

/* Root Menu */
ul.appmenu a {
	display: none;
	}


/* Do Not Move - Must Come Before display:block for Gecko */
ul.appmenu li:hover ul ul,
ul.appmenu li:hover ul ul ul,
ul.appmenu li.iehover ul ul,
ul.appmenu li.iehover ul ul ul {
	display: none;
	}


	
.menu-page1-icon {
	display: none;

}	

div.navigation {
	display: none;
}	
	
/* Root = Horizontal, Secondary = Vertical */
ul.navigation {
	display: none;
	}

ul.navigation li {
	display: none;
	}

ul.navigation ul {
	display: none;
	}

ul.navigation ul:after /*From IE 7 lack of compliance*/{
	display: none;
	}

ul.navigation ul li {
	display: none;
	}

/* Root Menu */
ul.navigation a {
	display: none;
	}

/* Root Menu Hover Persistence */
ul.navigation a:hover,
ul.navigation li:hover a,
ul.navigation li.iehover a {
	display: none;
	}

/* Root Menu Active indication */
ul.navigation li.active a {
	display: none;
	}

/* Do Not Move - Must Come Before display:block for Gecko */
ul.navigation li:hover ul ul,
ul.navigation li:hover ul ul ul,
ul.navigation li.iehover ul ul,
ul.navigation li.iehover ul ul ul {
	display: none;
	}








