@CHARSET "UTF-8";

/* Layout for sending page content to the printer.  
   This suppresses our header and footers.  This is the 
   structural CSS for the /application/layouts/scripts/layout.phtml
   file.
   
  |-----------------------------------------------------------------------------|
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                #mainContent                                 |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |-----------------------------------------------------------------------------|
  |                                 #footer                                     |
  +-----------------------------------------------------------------------------+

*/


html, body {
	background: white;
	font:12pt arial,sans-serif;
	
	margin:0;
	padding:0;
	border:0;
}


#header {
	display: none;
}

img.logo {
    display: none;
}


#footer {
	font-size:8pt;
	padding:3px;
	position: fixed;
    bottom: 0;
}

.noPrint {
	display: none;
}

.page-break  { display: block; page-break-before: always; }